:root {
    --sidebar-width: 220px;
}

/* SIDEBAR */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;

    width: var(--sidebar-width);
    height: 100vh;

    box-sizing: border-box;

    background-color: #f9f9ff;

    display: flex;
    flex-direction: column;

    z-index: 1000;
}


/* LOGO */

.logo {
    display: flex;
    align-items: center;

    gap: 10px;

    padding: 28px 28px 0;
}

.logo-icon {
    font-size: 29px;
}

.logo-text {
    font-family: Georgia, serif;

    font-size: 22px;

    color: #17152b;
}


/* NAVIGATION */

.sidebar-nav {
    display: flex;
    flex-direction: column;

    gap: 8px;

    margin-top: 65px;

    padding: 0 18px;
}

.sidebar-nav a {
    display: flex;
    align-items: center;

    height: 42px;

    padding: 0 14px;

    box-sizing: border-box;

    text-decoration: none;

    color: #17152b;

    font-family: Georgia, serif;

    font-size: 14px;

    border-radius: 8px;

    transition: 0.2s ease;
}

.sidebar-nav a:hover,
.sidebar-nav a.active {
    background-color: #eae4fd;
    color: #5b2bc5;
}

@media (max-width: 700px) {
    :root {
        --sidebar-width: 180px;
    }

    .logo {
        padding-left: 20px;
        padding-right: 20px;
    }

    .logo-text {
        font-size: 19px;
    }

    .sidebar-nav {
        padding: 0 12px;
        margin-top: 45px;
    }

    .sidebar-nav a {
        padding: 0 10px;
        font-size: 13px;
    }
}